.path-moliek {
  .page-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .block {
    &-system {
      &-main-block {
        font-size: 26px;
        text-align: center;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .form-item {
      display: flex;
      margin: 5px 0;
      flex-basis: 100%;

      > label {
        min-width: 300px;
        flex-shrink: 0;
        text-align: end;
      }
    }

    #edit-submit {
      max-width: 100px;
      margin-left: auto;
    }
  }
}
