.path-moliek {
  .page-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .block {
    &-system {
      &-main-block {
        font-size: 26px;
        text-align: center;
      }
    }
  }

  form {
    display: flex;
    align-items: center;

    .form-item-cat-name {
      display: flex;
      flex-basis: 100%;

      > label {
        flex-shrink: 0;
      }
    }
  }
}
